@media only screen and (max-width: 600px){
    /* responsive css for mobile */
    #toDoList{
        transform: translate(0, 2%);
        width: 80vw;
        min-height: 70vh;
        
    }
    
    #addToDo{
        font-size: 1rem;
        
    }
    
    #addatask{
        padding: 0;
    }

    .task{
        min-height: 20%;
    }
    .taskLabel{
        font-weight: 700;
        font-size: 1.2rem;
    }
}